h1 {
    text-align: center;
}

.checkout {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-items: center;
    border: var(--color-text-grey) solid 1px;
}

.item {
    grid-column: 1;
    grid-row: 2 / span 2;
}

.item1 {
    display: none;
}

.item2 {
    grid-column: 2;
    grid-row: 2;
    color: var(--color-main-blue);
    justify-self: end;
}

.item3 {
    grid-column: 2;
    grid-row: 3;
    color: var(--color-main-blue);
    justify-self: end;
}

.item4 {
    display: none;
}

.item5 {
    grid-column: 1;
    grid-row: 1;
    color: var(--color-main-blue);
}

.item6 {
    grid-column: 3;
    grid-row: 2;
    border: black solid 1px;
    padding: 5px;
}

.item7 {
    grid-column: 3;
    grid-row: 3;
    border: black solid 1px;
    padding: 5px;
}

.item8 {
    grid-column: 3;
    grid-row: 1;
    color: var(--color-main-blue);
}

.checkout p {
    align-self: center;
}

.form-error {
    display: none;
    padding: 0px;
    color: red;
}

.form-container {
    max-width: 600px;
    margin: 50px 0px;
}

#form,
#newForm {
    border: 2px solid var(--color-main-blue);
    border-radius: 10px;
    padding: 2em;
}

.field {
    margin-top: 1rem;
}

input {
    width: 100%;
}

.cta {
    margin-top: 20px;
}

#successMessage,
#newSuccessMessage {
    background-color: lightgreen;
    color: darkgreen;
    border-radius: 10px;
    text-align: center;
    padding: 15px 0px;
}

.buttons {
    display: flex;
    gap: 15px;
}
