main {
    margin: 0px auto;
}

h1,
.cta-contact {
    text-align: center;
}

.cta-contact {
    padding: 30px 0px;
}

.form-error {
    display: none;
    padding: 0px;
    color: red;
}

.form-container {
    max-width: 600px;
    margin: 50px 0px;
}

#form {
    border: 2px solid var(--color-main-blue);
    border-radius: 10px;
    padding: 2em;
}

label {
    margin-top: 1rem;
    display: block;
}

input {
    width: 100%;
}

#message {
    width: 100%;
    height: 100px;
}

button {
    text-align: center;
    margin-top: 20px;
}

#successMessage {
    background-color: lightgreen;
    color: darkgreen;
    border-radius: 10px;
    text-align: center;
    padding: 15px 0px;
}

.img img {
    width: 100%;
}

.info {
    margin-top: 50px;
}
