.main-title {
    text-align: center;
    font-size: 1.5em;
    padding-top: 20px;
    margin-bottom: 30px;
}

.gender h2 {
    color: #ffffff;
    font-size: 2em;
    position: relative;
    top: 100px;
    text-align: center;
}

.gender {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.men {
    background: url("../images/men.jpg") no-repeat;
    background-size: cover;
    height: 180px;
    width: 300px;
    margin: 0px auto;
}

.men:hover,
.women:hover {
    opacity: 80%;
}

.women {
    background: url("../images/women.jpg") no-repeat;
    background-size: cover;
    height: 180px;
    width: 300px;
    margin: 0px auto;
}

.popular-items {
    padding: 0px 12px;
}

.popular-items div {
    text-align: center;
    padding-bottom: 30px;
    margin: 20px;
    border: 2px solid var(--color-main-blue);
    border-radius: 10px;
}

.popular-items img {
    width: 80%;
    margin-top: 30px;
}

.header-popular {
    padding: 40px 0px 10px 0px;
    text-align: center;
}
