main {
  margin: 0px 20px;
}

h1 {
  text-align: center;
}

.cta {
  margin: 20px 20px 0 20px;
}

.form-error {
  display: none;
  padding: 0px;
  color: red;
}

.form-container {
  max-width: 400px;
  margin: 50px auto;
}

#form {
  border: 2px solid var(--color-main-blue);
  border-radius: 10px;
  padding: 2em;
}

.field {
  margin-top: 1rem;
}

input {
  width: 100%;
}

#successMessage {
  background-color: lightgreen;
  color: darkgreen;
  border-radius: 10px;
  text-align: center;
  padding: 15px 0px;
}

.buttons {
  margin: 0 auto;
  text-align: center;
}
