.products {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto auto auto auto;
  gap: 20px;
  margin: 0px auto;
}

.product img {
  width: 100%;
}

.product {
  text-align: center;
  padding-bottom: 0px;
}

.cta-products {
  text-align: center;
  padding: 50px;
}
