main img {
  width: 100%;
}

.product--main {
  margin: 0px auto;
}

.product-image,
.product-details {
  max-width: 500px;
  margin: 0px auto;
}

.product-details form {
  padding: 10px 0px 50px 0px;
}

.buttons {
  text-align: center;
  padding-bottom: 50px;
}

.price {
  font-size: 1.5em;
  color: var(--color-main-blue);
}

.size,
.size-form {
  text-align: center;
}

.size-form {
  padding-bottom: 40px;
}

#s,
#m,
#l {
  display: none;
}

#s:checked ~ .s,
#m:checked ~ .m,
#l:checked ~ .l {
  background: var(--color-cta-size-checked);
}

.s:hover,
.m:hover,
.l:hover {
  background: var(--color-cta-hover);
}

.quantity {
  text-align: center;
}
