.products {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 20px;
  margin: 0px auto;
}

.product img {
  width: 100%;
}

.product {
  text-align: center;
  padding-bottom: 0px;
}

.cta-products {
  text-align: center;
  padding: 50px;
}
