main img {
  width: 100%;
}

.product--main {
  margin: 0px auto;
}

.product-image,
.product-details {
  max-width: 500px;
  margin: 0px auto;
}

.product-details form {
  padding: 10px 0px 50px 0px;
}

.product-details div {
  text-align: center;
  padding-bottom: 50px;
}

.price {
  font-size: 1.5em;
  color: var(--color-main-blue);
}

.size,
form {
  text-align: center;
}

#s,
#m,
#l {
  display: none;
}

#s:checked ~ .s,
#m:checked ~ .m,
#l:checked ~ .l {
  background: #c14a40;
}
