@import "imports/links.css";
@import "imports/variables.css";

/* fonts and color */

nav a {
    font-family: var(--text-nav);
    color: var(--color-main-blue);
}

h1,
h2,
h3 {
    font-family: var(--text-heading);
    color: var(--color-main-blue);
}

h3,
p,
main ul {
    color: var(--color-text-grey);
}

p,
main ul,
.cta,
label {
    font-family: var(--text-p-cta);
}

/* body */

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    margin: 0px;
}

/* header and nav */

header {
    background: var(--color-main-blue);
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.logo img {
    width: 180px;
    padding: 20px;
}

.logo {
    text-align: center;
    margin-bottom: 10px;
}

.icon {
    float: right;
}

.icon a {
    padding: 20px;
}

.icon a img {
    width: 30px;
}

.contact-icon {
    position: relative;
    top: 5px;
}

.hamburger-menu {
    position: relative;
    margin-left: 20px;
    margin-top: 0px;
}

.hamburger-menu img {
    width: 30px;
    position: relative;
    top: 5px;
}

#hamburger-menu {
    display: none;
    padding-top: 40px;
}

#hamburger-menu:checked ~ nav {
    display: block;
}

nav {
    display: none;
    position: absolute;
    top: 193px;
    font-size: 1.8em;
    z-index: 1000;
    border: 2px solid var(--color-text-grey);
    background: var(--color-nav-mobile);
}

nav ul {
    padding: 0px;
}

nav li {
    display: block;
    padding: 20px 30px;
}

a {
    text-decoration: none;
}

hr {
    width: 99%;
    height: 0.05em;
    background: var(--color-text-grey);
    margin: 20px 0px;
}

/* main */

main {
    max-width: 500px;
    margin: 0 auto;
    padding: 0 20px;
}

.loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid darkred;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    grid-column: 2 / 4;
    margin: 0 auto 20px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* footer */

footer {
    background: var(--color-main-blue);
}

.footer {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.footer-icon {
    padding: 20px;
    width: 1.8em;
}

.copyright p {
    padding: 0px;
    margin: 0px;
    color: white;
    text-align: center;
    padding-bottom: 10px;
}
