:root {
  --text-p-cta: "Open Sans", sans-serif;
  --text-heading: "Roboto", sans-serif;
  --text-nav: "Roboto Condensed", sans-serif;
  --color-main-blue: #0a3641;
  --color-text-grey: #707070;
  --color-cta: #64c253;
  --color-cta-size: #c2774a;
  --color-cta-size-checked: #c14a40;
  --color-nav-desktop: white;
  --color-nav-mobile: whitesmoke;
  --color-cta-size-text: black;
}
